<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="LoginPage.aspx">
        <credentials passwordFormat="Clear">
          <user name="AJ" password="imrambo" />
          <user name="Jeff" password="imbatman"/>

        </credentials>
      </forms>
    </authentication>
  </system.web>
</configuration>